{% extends "wiki/base.html" %}
{% block wiki_contents %}
<h1>Collections</h1>


{% for root_article, list_of_children_objects in collections.items %}
    {{root_article}}
    <br>
    {% for child_objects in list_of_children_objects %}
        {% for child_name, child_list_of_links in child_objects.items %}
            <br>
            {{child_name}} 
            {% for readable_text, link in child_list_of_links%}
            <a href="{{link}}">{{readable_text}}</a>
            {% endfor %}
        {% endfor %}
    {% endfor %}
{% endfor %}

<br>
<br>
<a href="{{my_article.0.get_absolute_url}}">My Articles</a>
{% for item in my_article.1 %}
    <br>
    <a href="{{item.1}}">{{item.0}}</a>
{% endfor %}
<br>
<h1>Articles Shared with Me</h1>
{% for shared_article in shared_articles %}
<a href="{{shared_article.get_absolute_url}}">{{shared_article}}</a>
<br>
{% endfor %}
{% endblock %}
