commands:
  01_wsgipass:
    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'
  02_symbolick_link:
    command: 'ln -s /opt/python/current/app/SixcycleWiki/lib/wiki/src/wiki/'
  03_symbolink_link_authentication:
    command: 'ln -s /opt/python/current/app/SixcycleWiki/SixcycleWiki/authentication'