commands:
  01_wsgipass:
    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'
    command: 'echo "Header set Access-Control-Allow-Origin "*"" >> ../wsgi.conf
  02_symbolick_link:
    command: 'ln -s /opt/python/current/app/SixcycleWiki/lib/wiki/src/wiki/'
  03_migrate:
    command: 'source /opt/python/run/venv/bin/activate & /opt/python/ondeck/app/SixcycleWiki/manage.py migrate --noinput'
  03_collectstatic:
    command: 'source /opt/python/run/venv/bin/activate & /opt/python/ondeck/app/SixcycleWiki/manage.py collectstatic --noinput'