commands:
  01_wsgipass:
    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'
  02_symbolick_link:
    command: 'ln -s /opt/python/current/app/SixcycleWiki/lib/wiki/src/wiki/'
  03_migrate:
    command: 'source /opt/python/run/venv/bin/activate & /opt/python/ondeck/app/SixcycleWiki/manage.py migrate --noinput'
  03_collectstatic:
    command: 'source /opt/python/run/venv/bin/activate & /opt/python/ondeck/app/SixcycleWiki/manage.py collectstatic --noinput'
files:
  "/etc/httpd/conf.d/cors.conf" :
    mode: "000644"
    owner: root
    group: root
    content: |
      <Location "/">
        Header set Access-Control-Allow-Origin: *
        Header set Access-Control-Allow-Methods: "POST, GET, PUT, PATCH, DELETE, OPTIONS"
        Header add Access-Control-Allow-Headers: "Authorization, Content-Type, Accept"
        Header set Access-Control-Allow-Credentials: false
        SetOutputFilter DEFLATE
      </Location>