{% load i18n wiki_tags %}

{% with selected_tab as selected %}

<div id='rightButtonGroup'>
  <div class="btn-group">
    <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#" style="padding: 7px; background-color: #5eb975; border-color: #5eb975;">
      <span class="fa">:)</span>
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="{% url 'wiki:get' article_id=article.id path=urlpath.path %}" class='btn-dropdown{% if selected == "view" %} active{% endif %}'>
          <span class="fa fa-home"></span>
          <span>{% trans "View" %}</span>
        </a>
        {% if article|can_write:user and not article.current_revision.locked %}
          <a href="{% url 'wiki:edit' article_id=article.id path=urlpath.path %}" class="btn-dropdown{% if selected == "edit" %} active{% endif %}">
            <span class="fa fa-edit"></span>
            <span>{% trans "Edit" %}</span>
          </a>
        {% else %}
          <a href="{% url 'wiki:source' article_id=article.id path=urlpath.path %}" class="btn-dropdown{% if selected == "source" %} active{% endif %}">
            <span class="fa fa-lock"></span>
            <span>{% trans "View Source" %}</span>
          </a>
        {% endif %}
        {% for plugin in article_tabs %}
            <a href="{% url 'wiki:plugin' slug=plugin.slug article_id=article.id path=urlpath.path %}" class="btn-dropdown{% if selected == plugin.slug %} active{% endif %}">
              <span class="{{ plugin.article_tab.1 }}"></span>
              <span>{{ plugin.article_tab.0 }}</span>
            </a>
        {% endfor %}
        <a href="{% url 'wiki:history' article_id=article.id path=urlpath.path %}" class="btn-dropdown{% if selected == "history" %} active{% endif %}">
          <span class="fa fa-clock-o"></span>
          <span>{% trans "Changes" %}</span>
        </a>
        {% if not user.is_anonymous %}
        <a href="{% url 'wiki:settings' article_id=article.id path=urlpath.path %}" class="btn-dropdown{% if selected == "settings" %} active{% endif %}">
          <span class="fa fa-wrench"></span>
          <span>{% trans "Settings" %}</span>
        </a>
        {% endif %}
      </li>
    </ul>
  </div>
</div>

{% endwith %}

